.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}

.add-bar {
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
TextField {
  color: black;
}

ListView {
  opacity: 0;
}
.visible {
  animation-name: show;
  animation-duration: 1s;
}

ListView Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}